apiVersion: v1
kind: Service
metadata:
  name: {{ include "app.fullname" . }}-backend
  labels:
    {{- include "app.labels" . | nindent 4 }}
    app.kubernetes.io/component: backend
spec:
  type: ClusterIP
  ports:
    - port: 80 # Service is accessed on port 80 by the frontend
      targetPort: {{ .Values.backend.port }} # Redirects to the container's app port (e.g., 3000)
      protocol: TCP
      name: http
  selector:
    {{- include "app.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: backend