apiVersion: v1
kind: Service
metadata:
  name: {{ include "app.fullname" . }}-mongodb
  labels:
    {{- include "app.labels" . | nindent 4 }}
    app.kubernetes.io/component: database
spec:
  ports:
    - port: 27017
      targetPort: 27017
      protocol: TCP
      name: mongodb
  clusterIP: None # This makes it a Headless Service
  selector:
    {{- include "app.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: database