apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: three-tier-app
  namespace: argocd # Assuming ArgoCD is installed in the 'argocd' namespace
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/SafiSRE/3-tier-app-docker-k8s-helm-argo-prom-grafana.git # CHANGE THIS
    targetRevision: HEAD
    path: chart # Path to the Helm Chart directory
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true # Create the target namespace if it doesn't exist
